.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example.local
!.env.example.development.local
!.env.example.production.local
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
replica.db*
*.rdb
metadata
drizzle