@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
	:root {
		color-scheme: dark;
	}
}

@font-face {
	font-family: "Draconis";
	src: url("/fonts/Draconis.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Vecna";
	src: url("/fonts/Vecna.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Vecna";
	src: url("/fonts/VecnaBold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@layer base {
	* {
		box-sizing: border-box;
		min-width: 0;
	}
	[data-theme="black"] {
		--rounded-btn: 0.5rem;
		--rounded-box: 0.5rem;
	}
	body {
		overflow-x: hidden;
		overflow-y: scroll;
		min-height: 100vh;
	}
	thead {
		display: table-row-group;
	}
}

@layer utilities {
	.btn {
		border-color: theme(colors.base-300);
		background-color: theme(colors.base-300);
		color: theme(colors.base-content);
	}
	.btn-primary {
		background-color: theme(colors.primary);
		color: theme(colors.white);
	}
	.btn-error,
	.menu-item-error {
		background-color: theme(colors.error);
		color: theme(colors.white);
		&:hover {
			color: theme(colors.white);
		}
		.dark & {
			border-color: theme(colors.red.800);
			background-color: theme(colors.base-100);
			&:hover {
				background-color: theme(colors.red.800);
			}
		}
	}
	.grid-characters {
		grid-template-columns: auto 1fr auto auto auto;
	}
	.grid-characters-mobile {
		grid-template-columns: 1fr;
	}
	.grid-characters-mobile-sm {
		grid-template-columns: 1fr auto auto auto;
	}
	@media print {
		.text-black dark:text-white {
			color: theme(colors.gray.700);
		}
		.text-secondary {
			@apply drop-shadow-none;
		}
	}
}

@layer components {
	.img-grow:hover img {
		transition-property: theme(transitionProperty.transform);
		transition-timing: theme(transitionTimingFunction.in-out);
		transition-duration: theme(transitionDuration.150);
	}
	@media (prefers-reduced-motion: no-preference) {
		.img-grow:hover img {
			scale: theme(scale.125);
		}
	}
	.grid-table {
		display: grid;
		width: theme(width.full);
		text-align: left;
		font-size: theme(fontSize.sm);
	}
	.grid-table :where(header, section, a):not(:first-child, :last-child) > * {
		border-bottom: 1px theme(colors.base-200);
	}
	.grid-table header {
		display: contents;
		white-space: nowrap;
		font-size: theme(fontSize.xs);
		font-weight: theme(fontWeight.bold);
		color: theme(colors.base-content/60);
		opacity: theme(opacity.60);
	}
	.grid-table :where(section, a) {
		display: contents;
	}
	.grid-table :where(header, section, a) > * {
		padding-inline: theme(spacing.4);
		padding-block: theme(spacing.3);
		vertical-align: middle;
	}
	.grid-table header > * {
		background-color: theme(colors.base-300);
	}
	.grid-table :where(section, a) > * {
		align-items: center;
		background-color: theme(colors.base-200);
	}
	.input[aria-invalid] {
		@apply input-error;
	}
	.select[aria-invalid] {
		@apply select-error;
	}
}
